@import "variables";
@import "mixin";
@import "reset";
html {
    scroll-behavior: smooth;
}
.parent-flex{
    display: flex;
}
body{
    background-color:  $main_background;
}
nav{
    flex-direction: column;
    .nav-bar{
        height: 95px;
        @include flex-row-btw-center();
        padding: 0 26px;

        .gifos-logo{
            width: 48.8px;
            height: 48.8px;
        }
    }
}
.nav-line{
        height: 5px;
        background-color: $primary_color;
}
.starting-section{
    justify-content: center;
        h1,span{
            font-size: 25px;
            @include main-font-bold();
            color: $primary_color;
                span{
                    color: $secondary_color;
                    text-transform: uppercase;
                }
            }
    }
    .search-section{
        flex-direction: column;
        justify-content: center;
        margin-top: 31px;
            img{
                height: 130px;
                width: auto;
            }
            .gifos-search{
                border: 1px solid #572EE5;
                border-radius: 27px;
                height: 50px;
                margin: 0 21px;
                @include flex-row-btw-center();
                padding: 13px 20px 13px 64px;
                    input{
                        border: none;
                        border-radius: 27px;
                        @include second-font-regular();
                        font-size: 16px;
                    }
                    img{
                        height: 20px;
                        width: auto;
                    }
            }
            .trending-suggestions{
                @include flex-column-center-center();
                text-align: center;
                color: $primary_color;
                margin: 31px 0 45px 0;
                article {
                    @include flex-column-center-center();
                    height: 50px;
                    width: 225px;
                    h4{
                        @include main-font-bold();
                        font-size: 16px;
                        margin-bottom: 7px;
                    }
                    p{
                        @include main-font-medium();
                        font-size: 14px;
                    }
                }
            }
    }
.trending-section{
    background-color: $gray_back;
    padding: 46px;
    article{
        @include flex-column-center-center;
        text-align: center;
        line-height: 23px;
        h3{
            margin-bottom: 7px;
            color:$primary_color;
            @include main-font-bold();
            font-size: 20px;
        }
        p{
            @include second-font-regular();
            font-size: 16px;
        }
    }
}
footer{
    .main-footer{
    height: 196px;
    @include flex-column-center-center;
    p{
        @include second-font-regular();
        color: $tertiary_color;
        font-size: 15px;
        letter-spacing: 0;
    }
    .sm-links{
        @include flex-row-btw-center();
        justify-content: space-around;
        margin: 22px 0 46px 0;
        a{
            color:$media_color;
            margin-right: 19px;
            i{
                font-size: 18px;
                
            }
        }     
        :last-child{
            margin-right: 0;
        }
    }
    .all-rr{
        font-size: 14px;
    }
}

}
