$primary_color: #572EE5;
$secondary_color: #50E3C2;
$tertiary_color: #000000;
$media_color:#CDD6E0;
$main_background:#FFFFFF;
$gray_back: #F3F5F8;
$main_font:'Montserrat' , sans-serif;
$secondary_font: 'Roboto', sans-serif;
