$primary_color: #FFFFFF;
$secondary_color: #50E3C2;
$tertiary_color:#FFFFFF;
$media_color:#CDD6E0;
$main_background:#6B7989;
$gray_back: #222326 ;
$main_font:'Montserrat' , sans-serif;
$secondary_font: 'Roboto', sans-serif;
